* {
  box-sizing: border-box;
}
body {
  background: #010202;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
}
.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user {
  display: flex;
  align-items: center;
}
.user-name {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-right: 15px;
}
.app {
  background: linear-gradient(
    90deg,
    #010202 0%,
    #010202 43%,
    rgba(1, 2, 2, 0.2) 90.9%
  );
  min-height: 100vh;
  color: white;
}
.film {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 7% 0;
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 0.4;
  color: #e5e5e5;
  font-size: 16px;
  line-height: 140%;
}
.tags > * {
  margin-right: 15px;
  margin-bottom: 10px;
}
.age {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px 5px;
}
.description {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}
.button {
  padding: 11px 26px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 140%;
  background: #2f2f2f;
  color: white;
  cursor: pointer;
}
.button-primary {
  background: #ea6e20;
  margin-right: 15px;
}
.button-text {
  margin-left: 10px;
  vertical-align: text-bottom;
}
@media (max-width: 768px) {
  .app {
    height: auto;
    padding-bottom: 400px;
    background: url("../img/cover-image.jpg") no-repeat bottom center / 300px;
  }
  video {
    display: none;
  }
  .film {
    padding-top: 2%;
  }
  .description {
    font-size: 16px;
    min-width: 333px;
  }
  .film-logo {
    min-width: 100%;
  }
}
@media (max-width: 576px) {
  .button-text {
    display: none;
  }
  .user-name {
    display: none;
  }
  .app {
    padding-bottom: 350px;
    background-size: 300px;
    background: url("../img/cover-image.jpg") no-repeat bottom center / 300px;
  }
  .button {
    margin-bottom: 10px;
  }
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.popup {
  position: absolute;
  background: white;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-top: 60px;
  border-radius: 6px;
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popup form input {
  margin-bottom: 30px;
  height: 50px;
  font-size: 20px;
  border: 2px solid #000000;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}

h2 {
  color: black;
  text-align: center;
  margin-top: 0;
}

.button1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
